export(divPart)
export(inCalc)
export(readGenepop)
export(corPlot)
export(diffPlot)
export(chiCalc)
export(divBasic)
export(divOnline)
export(fstOnly)
export(divRatio)
export(bigDivPart)
export(microPlexer)
export(arp2gen)
export(divMigrate)
export(fastDivPart)
export(haploDiv)
export(gpSampler)
export(snp2gen)
export(polyIn)
export(diffCalc)
export(divSimCo)
import(ggplot2)
import(qgraph)
import(shiny)
import(parallel)
import(grid)
useDynLib(diveRsity)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)